In [1]:
import pickle
import numpy as np
import pandas as pd
import json
import sqlalchemy as sql
from sqlalchemy import create_engine
from tqdm import tqdm
import requests
from bs4 import BeautifulSoup
from io import StringIO
from urllib.parse import quote
from concurrent.futures import ThreadPoolExecutor
import time
import random

In [2]:
with open('../tools/credentials.json') as file:
    credentials = json.load(file)
    
username = credentials["dblogin"]["username"]
password = credentials["dblogin"]["password"]

In [3]:
db_string = f"postgresql://{username}:{password}@localhost:5432/animeplanet"
db = create_engine(db_string)

In [4]:
def chunker(seq, size):
    return (seq[pos:pos + size] for pos in range(0, len(seq), size))

### Get Username List

In [7]:
query = """SELECT username 
            FROM "user" 
            WHERE username NOT LIKE '%#%';"""
already_good = pd.read_sql(sql.text(query), db)['username'].to_list()

In [9]:
with db.connect() as con:
    urls = pd.read_sql('SELECT url FROM web_scrape;', con)['url']

In [10]:
user = urls.str.extract(r'/users/(?P<username>[A-Za-z0-9]*)')

In [ ]:
user

            username
0             recent
1             delete
2              AnG11
3     namewhatisthat
4             Ainner
...              ...
3365         Bigwulf
3366      kamirudesu
3367    5w33tWaffl3s
3368     Mushfiqur10
3369      tiyanachan

[3370 rows x 1 columns]

In [16]:
user = user.loc[user['username'].notnull()].drop_duplicates(['username']).loc[~user['username'].isin(already_good)].reset_index(drop=True)

In [18]:
user.to_sql('user', db, if_exists='append', index=False, method='multi')